/* Color Theme Swatches in Hex */
/* 
/* Color Theme Swatches in Hex 
.Underwater-wild-world-with-tuna-fishes-1-hex { color: #F2E4EE; }
.Underwater-wild-world-with-tuna-fishes-2-hex { color: #022859; }
.Underwater-wild-world-with-tuna-fishes-3-hex { color: #024873; }
.Underwater-wild-world-with-tuna-fishes-4-hex { color: #024059; }
.Underwater-wild-world-with-tuna-fishes-5-hex { color: #0388A6; }*/

/* Color Theme Swatches in Hex
redpurple- .smash-1-hex { color: #522073; }
purple- .smash-2-hex { color: #4B4A99; }
blue- .smash-3-hex { color: #2C81A5; }
teal- .smash-4-hex { color: #4CC5C5; }
yellow .smash-5-hex { color: #FDEE21; } */





body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to bottom right, #2C81A5, #4CC5C5);
  background-attachment: fixed;
  height: 100%;
  color: white;
}

h1{
  font-weight: 900;
}

.overallForm-app {
  height: auto;
  width: 100%;
  background-color: #4B4A99;
  border-radius: 3px;
  box-shadow: rgb(0 0 0 / 20%) 0px 4px 8px 0px, rgb(0 0 0 / 19%) 0px 6px 20px 0px;
  padding: 20px;
}
.overallForm {
  height: auto;
  width: 896px;
  background-color: #4B4A99;
  border-radius: 3px;
  box-shadow: rgb(0 0 0 / 20%) 0px 4px 8px 0px, rgb(0 0 0 / 19%) 0px 6px 20px 0px;
  padding: 20px;
}
.btn-ocean{
  font-weight: 900;
  color: #522073;
  background-color: #FDEE21;
  border-color: #FDEE21;
  text-decoration: none;
}
.btn-ocean:hover{
  color: white;
  background-color: black;
  border-color: black;
}
.bg-yellow{
  color: #522073;
  background-color: #FDEE21;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
nav {
  border-bottom: 0.5px solid #522073;
  background-color: white;
}

nav a {
  text-decoration: none;
  color: #522073;
}
a {
  text-decoration: none;
  color: #522073;
}

nav a:hover {
  color: black;
}

.navbar-light .navbar-toggler {
  color: #522073;
  border-color: #522073;
}

.color-purple{
  border-color: #522073;
}

.row {
  padding-bottom: 20px;
}

.padding-bottom{
  padding-bottom: 10px;
}
.margin-left{
  margin-left: 10px;
}
.padding-top{
  padding-top: 10px;
}
.margin-zero{
margin-left: 0;
text-decoration: none;
}

.edit {
  display: none;
}
  
.hoverOver:hover > .edit {
  display: block;
}

.changeFZ{
  font-size: 24px;
}

.wrap{
  word-wrap: break-word;
}
.height38{
  height: 38px;
}
/*!
 * GitHub Light v0.5.0
 * Copyright (c) 2012 - 2017 GitHub, Inc.
 * Licensed under MIT (https://github.com/primer/github-syntax-theme-generator/blob/master/LICENSE)
 */

 .pl-c /* comment, punctuation.definition.comment, string.comment */ {
  color: #6a737d;
}

.pl-c1 /* constant, entity.name.constant, variable.other.constant, variable.language, support, meta.property-name, support.constant, support.variable, meta.module-reference, markup.raw, meta.diff.header, meta.output */,
.pl-s .pl-v /* string variable */ {
  color: #005cc5;
}

.pl-e /* entity */,
.pl-en /* entity.name */ {
  color: #6f42c1;
}

.pl-smi /* variable.parameter.function, storage.modifier.package, storage.modifier.import, storage.type.java, variable.other */,
.pl-s .pl-s1 /* string source */ {
  color: #24292e;
}

.pl-ent /* entity.name.tag, markup.quote */ {
  color: #22863a;
}

.pl-k /* keyword, storage, storage.type */ {
  color: #d73a49;
}

.pl-s /* string */,
.pl-pds /* punctuation.definition.string, source.regexp, string.regexp.character-class */,
.pl-s .pl-pse .pl-s1 /* string punctuation.section.embedded source */,
.pl-sr /* string.regexp */,
.pl-sr .pl-cce /* string.regexp constant.character.escape */,
.pl-sr .pl-sre /* string.regexp source.ruby.embedded */,
.pl-sr .pl-sra /* string.regexp string.regexp.arbitrary-repitition */ {
  color: #032f62;
}

.pl-v /* variable */,
.pl-smw /* sublimelinter.mark.warning */ {
  color: #e36209;
}

.pl-bu /* invalid.broken, invalid.deprecated, invalid.unimplemented, message.error, brackethighlighter.unmatched, sublimelinter.mark.error */ {
  color: #b31d28;
}

.pl-ii /* invalid.illegal */ {
  color: #fafbfc;
  background-color: #b31d28;
}

.pl-c2 /* carriage-return */ {
  color: #fafbfc;
  background-color: #d73a49;
}

.pl-c2::before /* carriage-return */ {
  content: "^M";
}

.pl-sr .pl-cce /* string.regexp constant.character.escape */ {
  font-weight: bold;
  color: #22863a;
}

.pl-ml /* markup.list */ {
  color: #735c0f;
}

.pl-mh /* markup.heading */,
.pl-mh .pl-en /* markup.heading entity.name */,
.pl-ms /* meta.separator */ {
  font-weight: bold;
  color: #005cc5;
}

.pl-mi /* markup.italic */ {
  font-style: italic;
  color: #24292e;
}

.pl-mb /* markup.bold */ {
  font-weight: bold;
  color: #24292e;
}

.pl-md /* markup.deleted, meta.diff.header.from-file, punctuation.definition.deleted */ {
  color: #b31d28;
  background-color: #ffeef0;
}

.pl-mi1 /* markup.inserted, meta.diff.header.to-file, punctuation.definition.inserted */ {
  color: #22863a;
  background-color: #f0fff4;
}

.pl-mc /* markup.changed, punctuation.definition.changed */ {
  color: #e36209;
  background-color: #ffebda;
}

.pl-mi2 /* markup.ignored, markup.untracked */ {
  color: #f6f8fa;
  background-color: #005cc5;
}

.pl-mdr /* meta.diff.range */ {
  font-weight: bold;
  color: #6f42c1;
}

.pl-ba /* brackethighlighter.tag, brackethighlighter.curly, brackethighlighter.round, brackethighlighter.square, brackethighlighter.angle, brackethighlighter.quote */ {
  color: #586069;
}

.pl-sg /* sublimelinter.gutter-mark */ {
  color: #959da5;
}

.pl-corl /* constant.other.reference.link, string.other.link */ {
  text-decoration: underline;
  color: #032f62;
}
